@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <img src="https://www.bostoninteriors.com/media/catalog/product/cache/39509f3f04d17dbc13888aa92f3fecfa/1/5/1521025-base-image.jpg" alt="Alternate Text" />
</div>